<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.i_p_averyanov_d_o">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".present.activities.OrderActivity"></activity>
        <activity android:name=".present.activities.PowerActivity" />
        <activity android:name=".present.activities.GlassActivity" />
        <activity android:name=".present.activities.CageActivity" />
        <activity android:name=".present.activities.BamperZadActivivty" />
        <activity android:name=".present.activities.BamperPerActivity" />
        <activity android:name=".present.activities.BoxActivivty" />
        <activity android:name=".present.activities.GeneratorActivivty" />
        <activity android:name=".present.activities.KolodkiActivity" />
        <activity android:name=".present.activities.SecProductActivivty" />
        <activity android:name=".present.activities.ProductActivity" />
        <activity android:name=".present.activities.CredentialsActivity" />
        <activity android:name=".present.activities.StoryActivity" />
        <activity android:name=".present.activities.CatalogActivity" />
        <activity android:name=".present.activities.RegisterActivity" />
        <activity android:name=".present.activities.LoginActivity" />
        <activity
            android:name=".present.activities.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".present.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>